**/.speakeasy/temp/
**/.speakeasy/logs/
.speakeasy/reports
# Ignore IDE-specific configs
.project
.settings/
.DS_Store
# Ignore Gradle project-specific cache directory
.gradle
# Ignore Gradle build output directory
build
bin/
