/* 
 * Code generated by Speakeasy (https://speakeasyapi.dev). DO NOT EDIT.
 */

package airbyte_prod.api;

import airbyte_prod.api.utils.HTTPClient;
import airbyte_prod.api.utils.HTTPRequest;
import airbyte_prod.api.utils.JSON;
import airbyte_prod.api.utils.SerializedBody;
import com.fasterxml.jackson.databind.ObjectMapper;
import java.net.http.HttpResponse;
import java.nio.charset.StandardCharsets;
import org.apache.http.NameValuePair;

public class Jobs {
	
	private HTTPClient _defaultClient;
	private HTTPClient _securityClient;
	private String _serverUrl;
	private String _language;
	private String _sdkVersion;
	private String _genVersion;

	public Jobs(HTTPClient defaultClient, HTTPClient securityClient, String serverUrl, String language, String sdkVersion, String genVersion) {
		this._defaultClient = defaultClient;
		this._securityClient = securityClient;
		this._serverUrl = serverUrl;
		this._language = language;
		this._sdkVersion = sdkVersion;
		this._genVersion = genVersion;
	}

    /**
     * Cancel a running Job
     * @param request the request object containing all of the parameters for the API call
     * @return the response from the API call
     * @throws Exception if the API call fails
     */
    public airbyte_prod.api.models.operations.CancelJobResponse cancelJob(airbyte_prod.api.models.operations.CancelJobRequest request) throws Exception {
        String baseUrl = this._serverUrl;
        String url = airbyte_prod.api.utils.Utils.generateURL(airbyte_prod.api.models.operations.CancelJobRequest.class, baseUrl, "/jobs/{jobId}", request, null);
        
        HTTPRequest req = new HTTPRequest();
        req.setMethod("DELETE");
        req.setURL(url);
        
        
        HTTPClient client = this._defaultClient;
        HttpResponse<byte[]> httpRes = client.send(req);

        String contentType = httpRes.headers().firstValue("Content-Type").orElse("application/octet-stream");

        airbyte_prod.api.models.operations.CancelJobResponse res = new airbyte_prod.api.models.operations.CancelJobResponse() {{
            jobResponse = null;
        }};
        res.statusCode = httpRes.statusCode();
        res.contentType = contentType;
        res.rawResponse = httpRes;
        
        if (httpRes.statusCode() == 200) {
            if (airbyte_prod.api.utils.Utils.matchContentType(contentType, "application/json")) {
                ObjectMapper mapper = JSON.getMapper();
                airbyte_prod.api.models.shared.JobResponse out = mapper.readValue(new String(httpRes.body(), StandardCharsets.UTF_8), airbyte_prod.api.models.shared.JobResponse.class);
                res.jobResponse = out;
            }
        }
        else if (httpRes.statusCode() == 403 || httpRes.statusCode() == 404) {
        }

        return res;
    }

    /**
     * Trigger a sync or reset job of a connection
     * @param request the request object containing all of the parameters for the API call
     * @return the response from the API call
     * @throws Exception if the API call fails
     */
    public airbyte_prod.api.models.operations.CreateJobResponse createJob(airbyte_prod.api.models.shared.JobCreateRequest request) throws Exception {
        String baseUrl = this._serverUrl;
        String url = airbyte_prod.api.utils.Utils.generateURL(baseUrl, "/jobs");
        
        HTTPRequest req = new HTTPRequest();
        req.setMethod("POST");
        req.setURL(url);
        SerializedBody serializedRequestBody = airbyte_prod.api.utils.Utils.serializeRequestBody(request, "request", "json");
        if (serializedRequestBody == null) {
            throw new Exception("Request body is required");
        }
        req.setBody(serializedRequestBody);
        
        
        HTTPClient client = this._defaultClient;
        HttpResponse<byte[]> httpRes = client.send(req);

        String contentType = httpRes.headers().firstValue("Content-Type").orElse("application/octet-stream");

        airbyte_prod.api.models.operations.CreateJobResponse res = new airbyte_prod.api.models.operations.CreateJobResponse() {{
            jobResponse = null;
        }};
        res.statusCode = httpRes.statusCode();
        res.contentType = contentType;
        res.rawResponse = httpRes;
        
        if (httpRes.statusCode() == 200) {
            if (airbyte_prod.api.utils.Utils.matchContentType(contentType, "application/json")) {
                ObjectMapper mapper = JSON.getMapper();
                airbyte_prod.api.models.shared.JobResponse out = mapper.readValue(new String(httpRes.body(), StandardCharsets.UTF_8), airbyte_prod.api.models.shared.JobResponse.class);
                res.jobResponse = out;
            }
        }
        else if (httpRes.statusCode() == 400 || httpRes.statusCode() == 403) {
        }

        return res;
    }

    /**
     * Get Job status and details
     * @param request the request object containing all of the parameters for the API call
     * @return the response from the API call
     * @throws Exception if the API call fails
     */
    public airbyte_prod.api.models.operations.GetJobResponse getJob(airbyte_prod.api.models.operations.GetJobRequest request) throws Exception {
        String baseUrl = this._serverUrl;
        String url = airbyte_prod.api.utils.Utils.generateURL(airbyte_prod.api.models.operations.GetJobRequest.class, baseUrl, "/jobs/{jobId}", request, null);
        
        HTTPRequest req = new HTTPRequest();
        req.setMethod("GET");
        req.setURL(url);
        
        
        HTTPClient client = this._defaultClient;
        HttpResponse<byte[]> httpRes = client.send(req);

        String contentType = httpRes.headers().firstValue("Content-Type").orElse("application/octet-stream");

        airbyte_prod.api.models.operations.GetJobResponse res = new airbyte_prod.api.models.operations.GetJobResponse() {{
            jobResponse = null;
        }};
        res.statusCode = httpRes.statusCode();
        res.contentType = contentType;
        res.rawResponse = httpRes;
        
        if (httpRes.statusCode() == 200) {
            if (airbyte_prod.api.utils.Utils.matchContentType(contentType, "application/json")) {
                ObjectMapper mapper = JSON.getMapper();
                airbyte_prod.api.models.shared.JobResponse out = mapper.readValue(new String(httpRes.body(), StandardCharsets.UTF_8), airbyte_prod.api.models.shared.JobResponse.class);
                res.jobResponse = out;
            }
        }
        else if (httpRes.statusCode() == 403 || httpRes.statusCode() == 404) {
        }

        return res;
    }

    /**
     * List Jobs by sync type
     * @param request the request object containing all of the parameters for the API call
     * @return the response from the API call
     * @throws Exception if the API call fails
     */
    public airbyte_prod.api.models.operations.ListJobsResponse listJobs(airbyte_prod.api.models.operations.ListJobsRequest request) throws Exception {
        String baseUrl = this._serverUrl;
        String url = airbyte_prod.api.utils.Utils.generateURL(baseUrl, "/jobs");
        
        HTTPRequest req = new HTTPRequest();
        req.setMethod("GET");
        req.setURL(url);
        
        java.util.List<NameValuePair> queryParams = airbyte_prod.api.utils.Utils.getQueryParams(airbyte_prod.api.models.operations.ListJobsRequest.class, request, null);
        if (queryParams != null) {
            for (NameValuePair queryParam : queryParams) {
                req.addQueryParam(queryParam);
            }
        }
        
        HTTPClient client = this._defaultClient;
        HttpResponse<byte[]> httpRes = client.send(req);

        String contentType = httpRes.headers().firstValue("Content-Type").orElse("application/octet-stream");

        airbyte_prod.api.models.operations.ListJobsResponse res = new airbyte_prod.api.models.operations.ListJobsResponse() {{
            jobsResponse = null;
        }};
        res.statusCode = httpRes.statusCode();
        res.contentType = contentType;
        res.rawResponse = httpRes;
        
        if (httpRes.statusCode() == 200) {
            if (airbyte_prod.api.utils.Utils.matchContentType(contentType, "application/json")) {
                ObjectMapper mapper = JSON.getMapper();
                airbyte_prod.api.models.shared.JobsResponse out = mapper.readValue(new String(httpRes.body(), StandardCharsets.UTF_8), airbyte_prod.api.models.shared.JobsResponse.class);
                res.jobsResponse = out;
            }
        }
        else if (httpRes.statusCode() == 403) {
        }

        return res;
    }
}