/* 
 * Code generated by Speakeasy (https://speakeasyapi.dev). DO NOT EDIT.
 */

package airbyte_prod.api;

import airbyte_prod.api.utils.HTTPClient;
import airbyte_prod.api.utils.HTTPRequest;
import airbyte_prod.api.utils.JSON;
import airbyte_prod.api.utils.SerializedBody;
import com.fasterxml.jackson.databind.ObjectMapper;
import java.net.http.HttpResponse;
import java.nio.charset.StandardCharsets;
import org.apache.http.NameValuePair;

public class Workspaces {
	
	private HTTPClient _defaultClient;
	private HTTPClient _securityClient;
	private String _serverUrl;
	private String _language;
	private String _sdkVersion;
	private String _genVersion;

	public Workspaces(HTTPClient defaultClient, HTTPClient securityClient, String serverUrl, String language, String sdkVersion, String genVersion) {
		this._defaultClient = defaultClient;
		this._securityClient = securityClient;
		this._serverUrl = serverUrl;
		this._language = language;
		this._sdkVersion = sdkVersion;
		this._genVersion = genVersion;
	}

    /**
     * Create a workspace
     * @param request the request object containing all of the parameters for the API call
     * @return the response from the API call
     * @throws Exception if the API call fails
     */
    public airbyte_prod.api.models.operations.CreateWorkspaceResponse createWorkspace(airbyte_prod.api.models.shared.WorkspaceCreateRequest request) throws Exception {
        String baseUrl = this._serverUrl;
        String url = airbyte_prod.api.utils.Utils.generateURL(baseUrl, "/workspaces");
        
        HTTPRequest req = new HTTPRequest();
        req.setMethod("POST");
        req.setURL(url);
        SerializedBody serializedRequestBody = airbyte_prod.api.utils.Utils.serializeRequestBody(request, "request", "json");
        if (serializedRequestBody == null) {
            throw new Exception("Request body is required");
        }
        req.setBody(serializedRequestBody);
        
        
        HTTPClient client = this._securityClient;
        
        HttpResponse<byte[]> httpRes = client.send(req);

        String contentType = httpRes.headers().firstValue("Content-Type").orElse("application/octet-stream");

        airbyte_prod.api.models.operations.CreateWorkspaceResponse res = new airbyte_prod.api.models.operations.CreateWorkspaceResponse() {{
            workspaceResponse = null;
        }};
        res.statusCode = httpRes.statusCode();
        res.contentType = contentType;
        res.rawResponse = httpRes;
        
        if (httpRes.statusCode() == 200) {
            if (airbyte_prod.api.utils.Utils.matchContentType(contentType, "application/json")) {
                ObjectMapper mapper = JSON.getMapper();
                airbyte_prod.api.models.shared.WorkspaceResponse out = mapper.readValue(new String(httpRes.body(), StandardCharsets.UTF_8), airbyte_prod.api.models.shared.WorkspaceResponse.class);
                res.workspaceResponse = out;
            }
        }
        else if (httpRes.statusCode() == 400 || httpRes.statusCode() == 403) {
        }

        return res;
    }

    /**
     * Get Workspace details
     * @param request the request object containing all of the parameters for the API call
     * @return the response from the API call
     * @throws Exception if the API call fails
     */
    public airbyte_prod.api.models.operations.GetWorkspaceResponse getWorkspace(airbyte_prod.api.models.operations.GetWorkspaceRequest request) throws Exception {
        String baseUrl = this._serverUrl;
        String url = airbyte_prod.api.utils.Utils.generateURL(airbyte_prod.api.models.operations.GetWorkspaceRequest.class, baseUrl, "/workspaces/{workspaceId}", request, null);
        
        HTTPRequest req = new HTTPRequest();
        req.setMethod("GET");
        req.setURL(url);
        
        
        HTTPClient client = this._securityClient;
        
        HttpResponse<byte[]> httpRes = client.send(req);

        String contentType = httpRes.headers().firstValue("Content-Type").orElse("application/octet-stream");

        airbyte_prod.api.models.operations.GetWorkspaceResponse res = new airbyte_prod.api.models.operations.GetWorkspaceResponse() {{
            workspaceResponse = null;
        }};
        res.statusCode = httpRes.statusCode();
        res.contentType = contentType;
        res.rawResponse = httpRes;
        
        if (httpRes.statusCode() == 200) {
            if (airbyte_prod.api.utils.Utils.matchContentType(contentType, "application/json")) {
                ObjectMapper mapper = JSON.getMapper();
                airbyte_prod.api.models.shared.WorkspaceResponse out = mapper.readValue(new String(httpRes.body(), StandardCharsets.UTF_8), airbyte_prod.api.models.shared.WorkspaceResponse.class);
                res.workspaceResponse = out;
            }
        }
        else if (httpRes.statusCode() == 403 || httpRes.statusCode() == 404) {
        }

        return res;
    }

    /**
     * List workspaces
     * @param request the request object containing all of the parameters for the API call
     * @return the response from the API call
     * @throws Exception if the API call fails
     */
    public airbyte_prod.api.models.operations.ListWorkspacesResponse listWorkspaces(airbyte_prod.api.models.operations.ListWorkspacesRequest request) throws Exception {
        String baseUrl = this._serverUrl;
        String url = airbyte_prod.api.utils.Utils.generateURL(baseUrl, "/workspaces");
        
        HTTPRequest req = new HTTPRequest();
        req.setMethod("GET");
        req.setURL(url);
        
        java.util.List<NameValuePair> queryParams = airbyte_prod.api.utils.Utils.getQueryParams(airbyte_prod.api.models.operations.ListWorkspacesRequest.class, request, null);
        if (queryParams != null) {
            for (NameValuePair queryParam : queryParams) {
                req.addQueryParam(queryParam);
            }
        }
        
        HTTPClient client = this._securityClient;
        
        HttpResponse<byte[]> httpRes = client.send(req);

        String contentType = httpRes.headers().firstValue("Content-Type").orElse("application/octet-stream");

        airbyte_prod.api.models.operations.ListWorkspacesResponse res = new airbyte_prod.api.models.operations.ListWorkspacesResponse() {{
            workspacesResponse = null;
        }};
        res.statusCode = httpRes.statusCode();
        res.contentType = contentType;
        res.rawResponse = httpRes;
        
        if (httpRes.statusCode() == 200) {
            if (airbyte_prod.api.utils.Utils.matchContentType(contentType, "application/json")) {
                ObjectMapper mapper = JSON.getMapper();
                airbyte_prod.api.models.shared.WorkspacesResponse out = mapper.readValue(new String(httpRes.body(), StandardCharsets.UTF_8), airbyte_prod.api.models.shared.WorkspacesResponse.class);
                res.workspacesResponse = out;
            }
        }
        else if (httpRes.statusCode() == 403 || httpRes.statusCode() == 404) {
        }

        return res;
    }
}